force-app/main/default/flows/Bulk_Room_Creation_with_APEX.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Run_Apex</name>
        <label>Run Apex</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <actionName>CruiseRoomUI</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errorscr</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>cruiseShipid</name>
            <value>
                <elementReference>cruiseShipId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>howMany</name>
            <value>
                <elementReference>How_Many_Room_Do_you_want_to_create</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>passengerPrice</name>
            <value>
                <elementReference>Passenger_Price</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>roomCapacity</name>
            <value>
                <elementReference>Room_Capacity</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>roomType</name>
            <value>
                <elementReference>Select_Room_Type</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <dynamicChoiceSets>
        <name>roomType</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <limit>50</limit>
        <object>Room_Type__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>🛎️ Bulk Room Creation with APEX {!$Flow.CurrentDateTime}</interviewLabel>
    <label>🛎️ Bulk Room Creation with APEX</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>errorscr</name>
        <label>errorscr</label>
        <locationX>440</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errorText1</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 20px;&quot;&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>FirstEntryScreen</name>
        <label>FirstEntryScreen</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Run_Apex</targetReference>
        </connector>
        <fields>
            <name>firstScreenText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(231, 72, 72);&quot;&gt;This screen can be used for bulk room creation. Screen will create room for this Cruise Ship Record. &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(231, 72, 72);&quot;&gt;{!cruiseShipId}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>How_Many_Room_Do_you_want_to_create</name>
            <dataType>Number</dataType>
            <fieldText>How Many Room Do you want to create?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;Do not use zero or negative number&lt;/p&gt;</errorMessage>
                <formulaExpression>{!How_Many_Room_Do_you_want_to_create}&gt;0</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Select_Room_Type</name>
            <choiceReferences>roomType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Room Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Room_Capacity</name>
            <dataType>Number</dataType>
            <fieldText>Room Capacity</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;Do not use zero or negative number as room capacity.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Room_Capacity}&gt;0</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Passenger_Price</name>
            <dataType>Currency</dataType>
            <fieldText>Passenger Price</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;Do not use zero or negative as a price&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Passenger_Price}&gt;0</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>success</name>
        <label>success</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>successtext</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(46, 32, 199); font-size: 22px;&quot;&gt;Your records are saved. &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>FirstEntryScreen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>recordId</description>
        <name>cruiseShipId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>multiRoom</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cruise_Room__c</objectType>
    </variables>
    <variables>
        <name>singleRoom</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cruise_Room__c</objectType>
    </variables>
</Flow>
