force-app/main/default/flows/Bulk_Room_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>assign</name>
        <label>assign</label>
        <locationX>1013</locationX>
        <locationY>207</locationY>
        <assignmentItems>
            <assignToReference>singleRoom.Capacity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Room_Capacity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleRoom.Cruise__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cruiseShipId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleRoom.Room_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Room_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleRoom.Passenger_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Passenger_Price</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>multiRoom</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleRoom</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fake_Loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Fake_Loop</name>
        <label>Fake Loop</label>
        <locationX>606</locationX>
        <locationY>209</locationY>
        <defaultConnector>
            <targetReference>assign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>not Equal</defaultConnectorLabel>
        <rules>
            <name>how_many_is_equal_with_counter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>How_Many_Room_Do_you_want_to_create</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>counter</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_multi_Room</targetReference>
            </connector>
            <label>how many is equal with counter</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>roomType</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <limit>50</limit>
        <object>Room_Type__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Bulk Room Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>🛌 Bulk Room Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_multi_Room</name>
        <label>create multi Room</label>
        <locationX>612</locationX>
        <locationY>452</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>error_screen</targetReference>
        </faultConnector>
        <inputReference>multiRoom</inputReference>
    </recordCreates>
    <screens>
        <name>error_screen</name>
        <label>error screen</label>
        <locationX>986</locationX>
        <locationY>450</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errorText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 5, 5); font-size: 16px;&quot;&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>FirstEntryScreen</name>
        <label>FirstEntryScreen</label>
        <locationX>424</locationX>
        <locationY>207</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Fake_Loop</targetReference>
        </connector>
        <fields>
            <name>firstScreenText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(231, 72, 72);&quot;&gt;This screen can be used for bulk room creation. Screen will create room for this Cruise Ship Record. &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(231, 72, 72);&quot;&gt;{!cruiseShipId}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>How_Many_Room_Do_you_want_to_create</name>
            <dataType>Number</dataType>
            <fieldText>How Many Room Do you want to create?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Select_Room_Type</name>
            <choiceReferences>roomType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Room Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Room_Capacity</name>
            <dataType>Number</dataType>
            <fieldText>Room Capacity</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Passenger_Price</name>
            <dataType>Currency</dataType>
            <fieldText>Passenger Price</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>611</locationX>
        <locationY>642</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>successText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(5, 156, 221); font-size: 20px;&quot;&gt;Your room is created succesfully.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>562</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>FirstEntryScreen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>recordId</description>
        <name>cruiseShipId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>multiRoom</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cruise_Room__c</objectType>
    </variables>
    <variables>
        <name>singleRoom</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cruise_Room__c</objectType>
    </variables>
</Flow>
