force-app/main/default/flows/BulkRoom_Apex.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>APEXFLOW</name>
        <label>APEXFLOW</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <actionName>FlowBulkRoomControllerF2188</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>cruiseShipid</name>
            <value>
                <elementReference>cruiseShipId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>howMany</name>
            <value>
                <elementReference>How_many_Room_Do_you_want_to_create</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>passengerPrice</name>
            <value>
                <elementReference>Passenger_Price</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>roomType</name>
            <value>
                <elementReference>RoomType</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <dynamicChoiceSets>
        <name>RoomType</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Room_Type__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>BulkRoom Apex {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FlowBulkRoomF2188</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Bulk_Room_Creation</name>
        <label>Bulk Room Creation</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>APEXFLOW</targetReference>
        </connector>
        <fields>
            <name>How_many_Room_Do_you_want_to_create</name>
            <dataType>Number</dataType>
            <fieldText>How many Room Do you want to create</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>selectRoomType</name>
            <choiceReferences>RoomType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>select Room Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Capacity</name>
            <dataType>Number</dataType>
            <fieldText>Room Capacity</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Passenger_Price</name>
            <dataType>Currency</dataType>
            <fieldText>Passenger Price</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Bulk_Room_Creation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>cruiseShipId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
