force-app/main/default/flows/Rollup_with_flow_Delete_Trigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>getparentid</name>
        <label>getparentid</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <assignmentItems>
            <assignToReference>parentid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Cruise_Booking__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>delete_helper</targetReference>
        </connector>
    </assignments>
    <interviewLabel>🖖🏻 Rollup with flow Delete Trigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>🖖🏻 Rollup with flow Delete Trigger</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getparentid</targetReference>
        </connector>
        <object>Date_Booking_To_Room__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>delete_helper</name>
        <label>delete helper</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <flowName>Rollup_Helper</flowName>
        <inputAssignments>
            <name>parentId</name>
            <value>
                <elementReference>parentid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>singleDateBookRoom</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>triggerStatus</name>
            <value>
                <stringValue>delete</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>parentid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
