force-app/main/default/flows/Rollup_Helper.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>assign_for_deleted_records</name>
        <label>assign for deleted records</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>parentroomCapacity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_parent_records_0.Total_Room_Capacity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totalRoomCapacity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>parentroomCapacity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totalRoomCapacity</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>singleDateBookRoom.capacity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_parent_records_0.Total_Room_Capacity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>totalRoomCapacity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_roll_up_result</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignment</name>
        <label>assignment</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>parentroomCapacity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_parent_records_0.Total_Room_Capacity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totalRoomCapacity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>parentroomCapacity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totalRoomCapacity</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleDateBookRoom.capacity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_parent_records_0.Total_Room_Capacity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>totalRoomCapacity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_roll_up_result</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>upsert_or_delete</name>
        <label>upsert or delete</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>update_roll_up_result</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>else</defaultConnectorLabel>
        <rules>
            <name>upsert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>triggerStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>upsert</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignment</targetReference>
            </connector>
            <label>upsert</label>
        </rules>
        <rules>
            <name>delete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>triggerStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>delete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_for_deleted_records</targetReference>
            </connector>
            <label>delete</label>
        </rules>
    </decisions>
    <interviewLabel>🖖🏻 Rollup Helper {!$Flow.CurrentDateTime}</interviewLabel>
    <label>🖖🏻 Rollup Helper</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_parent_records_0</name>
        <label>get parent records</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>upsert_or_delete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>parentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cruise_Booking__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_roll_up_result</name>
        <label>update roll up result</label>
        <locationX>314</locationX>
        <locationY>614</locationY>
        <inputReference>get_parent_records_0</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_parent_records_0</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>parentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>parentroomCapacity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>singleDateBookRoom</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Date_Booking_To_Room__c</objectType>
    </variables>
    <variables>
        <name>totalRoomCapacity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>triggerStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
