force-app/main/default/flows/Rollup_with_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>getParentDetail</name>
        <label>getParentDetail</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>parentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Cruise_Booking__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RollUpHelper</targetReference>
        </connector>
    </assignments>
    <interviewLabel>🖖🏻 Rollup with flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>🖖🏻 Rollup with flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getParentDetail</targetReference>
        </connector>
        <object>Date_Booking_To_Room__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>RollUpHelper</name>
        <label>RollUpHelper</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <flowName>Rollup_Helper</flowName>
        <inputAssignments>
            <name>parentId</name>
            <value>
                <elementReference>parentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>singleDateBookRoom</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>triggerStatus</name>
            <value>
                <stringValue>upsert</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>parentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>parentRoomCapacity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>totalRoomCapacity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
