force-app/main/default/flows/weatherapi_no_coding_test.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>WheaterAPI</name>
        <label>WheaterAPI</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <actionName>weatherapi.getV1Currentx2ejson</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>scr2</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>key</name>
            <value>
                <stringValue>cdd588291810494781b173852222907</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>q</name>
            <value>
                <elementReference>Zip_Code</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <interviewLabel>weatherapi no coding test {!$Flow.CurrentDateTime}</interviewLabel>
    <label>weatherapi no coding test</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Scr1</name>
        <label>Scr1</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>WheaterAPI</targetReference>
        </connector>
        <fields>
            <name>Zip_Code</name>
            <dataType>String</dataType>
            <fieldText>Zip Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scr2</name>
        <label>scr2</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>wheather</name>
            <fieldText>&lt;p&gt;{!WheaterAPI.200.location.name} {!WheaterAPI.200.current.tempx5fc}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Scr1</targetReference>
        </connector>
    </start>
    <status>Draft</status>
</Flow>
